// Listbox
$kendo-listbox-spacing: k-map-get( $spacing, 3 ) !default;
$kendo-listbox-button-spacing: k-map-get( $spacing, 2 ) !default;
$kendo-listbox-width: 10em !default;
$kendo-listbox-default-height: 200px !default;

$kendo-listbox-border-width: 1px !default;
$kendo-listbox-font-family: $font-family !default;
$kendo-listbox-font-size: $kendo-list-font-size-md !default;
$kendo-listbox-line-height: $kendo-list-line-height-md !default;

$kendo-listbox-bg: $component-bg !default;
$kendo-listbox-text: $component-text !default;
$kendo-listbox-border: $component-border !default;

$kendo-listbox-item-padding-x: $kendo-list-item-padding-x-md !default;
$kendo-listbox-item-padding-y: $kendo-list-item-padding-y-md !default;

$kendo-listbox-drop-hint-border-width: 2px !default;
$kendo-listbox-drop-hint-width: 2px !default;
