$kendo-popup-padding-x: 0px !default;
$kendo-popup-padding-y: 0px !default;

$kendo-popup-border-width: 1px !default;
$kendo-popup-border-style: solid !default;

$kendo-popup-border-radius: k-map-get( $kendo-spacing, 1 ) !default;

$kendo-popup-font-family: null !default;
$kendo-popup-font-size: null !default;
$kendo-popup-line-height: null !default;


/// The background of the popup.
/// @group popup
$kendo-popup-bg: k-color-mix( black, $kendo-component-bg, 2% ) !default;
/// The text color of the popup.
/// @group popup
$kendo-popup-text: $kendo-component-text !default;
/// The border color of the popup.
/// @group popup
$kendo-popup-border: $kendo-component-border !default;
$kendo-popup-shadow: 0 2px 4px 0 rgba( black, .03 ), 0 4px 5px 0 rgba( black, .04 ) !default;
$kendo-popup-outline: null !default;
