// Timedurationpicker

$timedurationpicker-fast-selection-padding-x: map-get( $spacing, 4 ) !default;
$timedurationpicker-fast-selection-padding-y: map-get( $spacing, 2 ) !default;
$timedurationpicker-fast-selection-gap: map-get( $spacing, 2 ) !default;
