// Progressbar
$kendo-progressbar-height: 5px !default;
$kendo-progressbar-horizontal-width: 100% !default;
$kendo-progressbar-animation-timing: null !default;
$kendo-progressbar-border-width: 0px !default;
$kendo-progressbar-font-family: $font-family !default;
$kendo-progressbar-font-size: $font-size-sm !default;
$kendo-progressbar-line-height: 1 !default;

$kendo-progressbar-bg: k-try-tint( $primary, 8 ) !default;
$kendo-progressbar-text: $component-text !default;
$kendo-progressbar-border: null !default;
$kendo-progressbar-gradient: null !default;

$kendo-progressbar-fill-bg: $primary !default;
$kendo-progressbar-fill-text: $primary-contrast !default;
$kendo-progressbar-fill-border: null !default;
$kendo-progressbar-fill-gradient: null !default;

$kendo-progressbar-indeterminate-bg: $kendo-progressbar-bg !default;
$kendo-progressbar-indeterminate-text: $kendo-progressbar-text !default;
$kendo-progressbar-indeterminate-border: $kendo-progressbar-border !default;
$kendo-progressbar-indeterminate-gradient: null !default;

$kendo-progressbar-chunk-border: $component-bg !default;

// Circular Progressbar
$kendo-circular-progressbar-arc-stroke: $primary !default;
$kendo-circular-progressbar-scale-stroke: $kendo-progressbar-bg !default;
